body{
    background:rgb(78, 139, 78);/*cor da pagina principal*/
    font: normal  20px Arial;
}
header{
    color: yellow; /*cor da fonte do titulo e das <div>*/
    text-align: center ;/*centralizado*/
}
section {
    background: rgb(103, 103, 221);/*cor interna da <div>1*/
    border-radius: 30px; /* arredonda as bordas*/
    padding: 15px; /*espaço altura*/
    width: 500px ;/* largura fixa, querendo pode colocar auto*/
    margin: auto; /*centraliza*/
    box-shadow: 5px 5px 10px rgb black;/*faz sombreamento*/
}
footer{
    background:rgb(196, 110, 110) ;/*cor interna de <p>*/
    color: yellow; /*cor da fonte da <div>2*/
    text-align: center;/*centralizado*/
    font: italic 25px;

}